*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --font-family-title: 'Poppins', sans-serif;
    --font-family-subtitle: 'Montserrat', sans-serif;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-footer: 'Montserrat', sans-serif;

    --font-color-primary: #326B73;
    --font-color-secondary: #5A9DA6;
    --font-color-third: #878D96;
    --font-color-title: #326B73;
    --font-color-neutral: #000;
    --font-color-links-footer-primary: #65B5BF;
    --font-color-links-footer-secondary: #fff;

    --bg-header: #fff;
    --bg-color-forms: #fff;
    --bg-color-input: #fff;
    --bg-footer: rgba(8, 35, 39, 1);
    --bg-color-btn: #326B73;
    --bg-color-btn-hover: #155159;

    --border-color-focus: #BF6C2C;

    --line-copyright-color: rgba(63, 176, 191, 0.17);
    --copyright-color: rgba(63, 176, 191, 0.338);
}

body{
    font-size: 1.6rem;

    font-family: var(--font-family-primary);
    
    position: relative;
}

main{
    height: auto;
    min-height: calc(100vh - 1rem);
}

main::before{
    content: '';
    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: url(../images/background.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

main::after{
    content: '';
    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-color: rgba(63, 176, 191);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    filter: opacity(32%);
}

.hidden{
    display: none !important;
}

.filter{
    content: '';
    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    background-color: rgba(63, 176, 191);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    filter: opacity(32%);
}

.reset-btn-decoration{
    background: none;
    border: none;

    cursor: pointer;
    transition: all 0.3s;
}

.reset-btn-decoration:hover{
    transform: scale(1.1);
}

.none-decoration{
    text-decoration: none;
}

.header-content{
    background-color: var(--bg-header);

    padding: 4.1rem 10.3rem 3.4rem;

    display: flex;
    justify-content: end;
    align-items: center;

    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.19);
}

.menu-content{
    display: flex;
    gap: 3rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    list-style: none;
}

.menu-content li a{
    text-decoration: none;

    color: var(--font-color-secondary);

    border-bottom: .2rem solid transparent;
    padding: 1rem 0;

    font-family: var(--font-family-subtitle);
    font-weight: bold;
}

.menu-content li a:hover{
    color: var(--font-color-primary);
    border-bottom: .2rem solid var(--font-color-primary);
    padding-bottom: 1rem 0;
}


.content-box{
    background-color: var(--bg-color-forms);
    border-radius: 2.4rem;
    padding: 4.5rem 3.6rem;

    width: 49rem;

    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.19);

    position: relative;
}

.content-box h2{
    font-family: var(--font-family-title);
    line-height: 130%;
    color: var(--font-color-title);
    font-size: 2.5rem;
    font-weight: 400;
}

.position-forms{
    padding: 7.7rem 10.4rem 17rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    margin: 2.3rem 0 3.9rem;
}

.input-container input:focus{
    outline: 2px solid var(--border-color-focus);
}

.input-container::placeholder{
    font-family: var(--font-family-primary);
    font-size: 1.4rem;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
}

.input-container label{
    font-family: var(--font-family-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.input-container input, .input-container select, .input-container textarea{
    background-color: var(--bg-color-input);
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.25);

    padding: 1.5rem 1rem;
    border-radius: .6rem;

    width: 100%;

    outline: none;

    margin-top: 1rem;    
}

.input-container input:focus, .input-container select:focus{
    outline: 2px solid var(--border-color-focus);
}

.input-row{
    display: flex;
    gap: 2.4rem;
}

.input-row .large{
    width: 70%;
}

.input-row .small{
    width: 30%;
}

.input-row .medium{
    width: 50%;
}

.center{
    text-align: center;
} 

.position-content{
    width: 80%;
    min-height: 40rem;
    margin: 7rem auto;
}

.card-profile{
    border-radius: 1.9rem;
    padding: 6.7rem 3.3rem 4.4rem;

    width: 30rem;

    text-align: center;

    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.19);

    position: relative;

    z-index: 0;
}

.card-profile::before{
    content: '';
    width: 100%;
    height: 13.3rem;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-color: var(--bg-header-card);

    border-radius: 1.9rem 1.9rem 0 0;
}

.card-profile p{
    font-family: var(--font-family-primary);
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 145%;

    margin-top: 2rem;
}

.img-profile{
    border-radius: 50%;
    width: 10.2rem;

    border: 1px solid var(--border-color);
}

.profile{
    background-color: var(--bg-color-forms);
    border-radius: 2.4rem;
    padding: 5rem;

    width: 90%;

    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.19);

    position: relative;

    z-index: 0;
}

.profile::before{
    content: '';
    width: 100%;
    height: 9rem;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-color: var(--bg-header-card);

    border-radius: 2.3rem 2.3rem 0 0;
}

.btn-submit{
    color: var(--font-color-links-footer-secondary);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: .05rem;

    width: 100%;
    padding: 1.6rem;
    margin: 1rem 0;
    /* margin: 1rem 0 3.3rem; */

    background-color: var(--bg-color-btn);

    border: 1px solid var(--bg-color-btn);
    border-radius: .6rem;

    cursor: pointer;
}

.btn-submit:hover{
    background-color: var(--bg-color-btn-hover);
}

.card-profile-content{
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    justify-content: left;
}

.user-info{
    display: inline-block;
    text-align: center;
    
    margin-left: 2rem;

    position: relative;
}

.user-info h3{
    font-size: 2.4rem;
    font-weight: bold;

    color: var(--font-color-primary);

    margin-top: 1.3rem;
}

.btn-edit-image{
    position: absolute;
    top: 7rem;
    right: 4.5rem;

    z-index: 0;
}

.profile-content{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    width: calc(33.333% - 4rem) !important;
}

.info-container-profile p{
    color: var(--font-color-neutral);
    margin-bottom: .5rem;
}

.info-container-profile span{
    color: var(--font-color-third);
}

.info-container-profile a{
    text-decoration: none;
    color: var(--font-color-third);

    display: block;

    margin-bottom: 1.3rem;
}

.info-container-profile a:hover{
    color: var(--font-color-primary);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0,0,0,0.6);

    z-index: 1;
}


footer{
    background-color: var(--bg-footer);
    font-family: var(--font-family-footer);

    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.19);

    width: 100%;

    position: relative;
    bottom: 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8.8rem 2rem 11.1rem;

}

.footer-container a{
    text-decoration: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-container h4 a{
    font-family: var(--font-family-title);
    font-size: 2.5rem;
    font-weight: 400;
}

.info-container h4 a, .info-container svg path {
    color: var(--font-color-links-footer-primary);
    fill: var(--font-color-links-footer-primary);
    stroke: var(--font-color-links-footer-primary);
}

.info-container p{
    font-size: 1.4rem;
}

.info-container div a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-container span a{
    font-family: var(--font-family-footer);
    font-size: 1.4rem;
}

.info-container p, .info-container span{
    color: var(--font-color-links-footer-secondary);
    font-weight: 400;
}

.socialmedia{
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.copyright-content hr{
    border: 1px solid var(--line-copyright-color);
}

.copyright-content p{
    text-align: left;
    color: var(--copyright-color);
    padding: 1rem 11.1rem;
    font-size: 1.4rem;
}



