:root{
    font-size: 62.5%;

    --font-family-title: 'Poppins', sans-serif;
    --font-family-subtitle: 'Montserrat', sans-serif;
    --font-family-primary: 'Roboto', sans-serif;

    --font-color-nav-home: #E0E0E0;
    --font-color-nav-home-hover: #fff;

    --font-color-title: #326B73;
    --font-color-links: #326B73;
    --font-color-links-hover: #BF6C2C;


    --bg-color-forms: #fff;
    --bg-color-input: #fff;
    --bg-color-btn: #326B73;
    --bg-color-btn-hover: #155159;


    --border-color-focus: #BF6C2C;

}

.header-content-login{
    padding: 4.4rem 10.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-login ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    list-style: none;
}

.header-content-login li a{
    text-decoration: none;
    color: var(--font-color-nav-home);

    border-bottom: .2rem solid transparent;
    padding: 1rem 0;

    font-family: var(--font-family-subtitle);
    font-weight: bold;
}

.header-content-login nav a:hover{
    color: var(--font-color-nav-home-hover);
    border-bottom: .2rem solid var(--font-color-nav-home-hover);
    padding-bottom: 1rem;

}

.content-box h1, .content-box h2{
    font-family: var(--font-family-title);
    line-height: 130%;
    color: var(--font-color-title);
}

.content-box h1{
    font-size: 3.9rem;   
    font-weight: medium;
}

.content-box h2{
    font-size: 2.5rem;
    font-weight: 400;
}



/* #btn-login{
    width: 100%;
    padding: 1.6rem;
    margin: 3.3rem 0;

    background-color: var(--bg-color-btn);

    border: 1px solid var(--bg-color-btn);
    border-radius: .6rem;

    cursor: pointer;
}

#btn-login:hover{
    background-color: var(--bg-color-btn-hover);
} */

.links-container{
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 1rem;
    margin-top: 1.5rem;
}

.links-container a{
    display: block;
    font-family: var(--font-family-primary);
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--font-color-links);
} 

.links-container a:hover{
    color: var(--font-color-links-hover);
}

/* form create account */

.radio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    margin-top: 4.9rem;
}

.input-radio{
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

.arrows{
    display: flex;
    cursor: pointer;
    margin: 2rem 0;
}

.arrows{
    justify-content: space-between;
}



.gap-no-label{
    gap: 2rem;
}